.root {}

.contactButton{
}

.contactUs {
    max-width: 180px;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.675);
    color: var(--main-font-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 200px;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 40px;
    margin-bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phoneNumber {
    text-decoration: none; /* Add underline */
    text-decoration-color: rgb(255, 255, 255); /* Set underline color */
    color: var(--main-font-color); /* Set text color */
    text-decoration-thickness: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text inside the div */
}

/* General styles for the inner contact elements */
.innerContactElement {
    text-align: center;
    flex: 1;
    margin: 10px 0;
}


.collectionContainer {
    margin-top: 8px;
}

.promotionContainer {
    position: relative;
}

.promotionContainer h2 {
    font-size: 52px;
    line-height: 62px;
}


.messageContainer {
    text-align: center;
    padding: 60px 0px;
    margin: 0px 30px;
}

.messageContainer p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.gold {
    color: var(--standard-gold);
}

.contentTitle {
    text-align: center;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 16px;
}

.newArrivalsContainer {
    margin-top: 64px;
}

.highlightContainer {
    margin: 88px 0px;
}

.linkContainers {
    display: flex;
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 64px;
    left: 50%;
    gap: 72px;
}

.ctaCustomButton {
    margin-top: 50px;
}

.linkContainers a {
    color: var(--standard-white);
    border-bottom: 1px solid var(--standard-white);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.linkContainers a:hover {
    color: var(--standard-gold);
    border-bottom: 1px solid var(--standard-gold);
}

.blogsContainer {
    margin-top: 96px;
}

.sustainableContainer {
    margin: 96px 40px 0px 40px;
}

.socialContainer {
    margin-top: 64px;
}

.socialContentGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.socialContentGrid img {
    width: 100%;
    object-fit: cover;
}

.mapContainer {
    width: 100%;
    max-width: 100%;
    margin: 55px auto;
    padding: 0;
}

.mapContainer iframe {
    width: 100%;
    /* Full width for the iframe */
    height: 750px;
    border: 0;
}

@media (max-width: 800px) {
    .innerContactElement {
        margin: 10px;
    }

    .sustainableContainer {
        margin: 96px 0px 0px 0px;
    }

    .socialContentGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .highlightContainer {
        margin: 88px 0px 40px 0px;
    }

    .mapContainer {
        width: 100%;
        /* Full width on mobile */
        margin-left: 0;
        margin-right: 0;
        margin-top: 56px
            /* Remove margin on mobile */
    }

    .mapContainer iframe {
        width: 100%;
        /* Full width on mobile */
        height: 300px;
        /* Adjust height if necessary */
    }
}