/* Base styles for the side panel */
.root {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    z-index: 9999;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform: translateX(100%); /* Initially off-screen */
    transition: transform 0.3s ease-in-out; /* Smooth slide in/out transition */
}

/* Make the panel slide in when active */
.show {
    transform: translateX(0); /* Bring the panel into view */
}

/* Background overlay for dimming effect */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Darker dimming */
    z-index: 9998; /* Ensure it's behind the side panel */
    visibility: hidden; /* Hide by default */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Show the overlay when the view is active */
.showOverlay {
    visibility: visible;
    opacity: 1;
}

/* Title container to align the close button and title */
.titleContainer {
    text-align: center;
    padding: 32px 0px 36px 0px;
    margin: 0px 16px 16px 16px;
    border-bottom: 1px solid var(--bg-light-gray);
}

.titleContainer h4 {
    font-weight: normal;
    line-height: 16px;
}

/* Styling for the Close Button */
.closeButton {
    background: none;
    border: none;
    font-size: 24px; /* Ensure the button size is large */
    cursor: pointer;
    color: white; /* Set the close button color to white */
    position: absolute;
    top: 16px; /* Keep the button near the top */
    left: 50%; /* Position it halfway across the panel */
    transform: translateX(-50%); /* Center the button by shifting it left by 50% of its own width */
    z-index: 10000; /* Ensure it appears above other elements */
    margin-left: 20px;
}

/* Content Container */
.contentContainer {
    padding: 16px;
}

/* Ensure the close button is styled and visible */
.closeButton {
    background: none;
    border: none;
    font-size: 24px; /* Ensure the button size is large */
    cursor: pointer;
    color: white; /* Set the close button color to white */
    margin-right: 16px; /* Add some spacing to the right */
    z-index: 10000; /* Ensure it appears above other elements */
    position: relative; /* Position it properly inside the container */
}

/* Apply button styling */
.applyButton {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #636363;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 16px;
}

.applyButton:hover {
    background-color: #444;
}


.categoryList li {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
}

/* Checkbox styling */
.categoryList input[type='checkbox'] {
    margin-right: 10px;
}